html {
  background: #2C3E50;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

text {
  font-weight: bold;
  font-family: arial;
  text-transform: uppercase;
}

.legend {
  text-transform: capitalize;
  &__color {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 2px;
    margin-left: -30px;
    position: absolute;
  }
  ul {
    display: flex;
    width: 100%;
  }
  li {
    color: white;
    list-style: none;
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
  }
}

.legend__color {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 2px;
  margin-left: -30px;
  position: absolute;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 5em;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}