body {
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  background: linear-gradient(#3a5269 20%, #2C3E50);
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

text {
  font-weight: bold;
  font-family: arial;
  text-transform: uppercase;
}

.h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 5em;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3);

  &-large {
    flex-basis: 100%;
    display: inline-block;
    font-size: 0.8em;
  }
  &-small {
    flex-basis: 100%;
    display: inline-block;
    font-size: 0.5em;
  }
}

.radar-container {
  display: flex;
  justify-content: center;
}